@import url(./public.css);
/* start header */
.header {
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  background-color: #fff;
}
.header .logo {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.header .logo img {
  width: 35px;
}
.header .logo a {
  color: var(--main_color);
}
.header .row .nav a {
  color: black;
}
.nav ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.header .auth a {
  font-family: var(--second-fount);
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .auth a:first-of-type {
  border: 1px solid var(--main_color);
  color: var(--main_color);
}
.header .auth a:last-of-type {
  background-color: var(--main_color);
  color: #fff;
}
@media (max-width: 970px) {
  .nav {
    display: none;
  }
}
/* end header */
/* start Testimonials  */
.testimonials{
  padding: 20px  0;
}
.testimonials h2{
  text-align: center;
  margin-bottom:  20px;
}
.testimonial{
display: flex;
flex-direction: column;
gap: 20px;
width: calc((100% / 2 ) - 40px );
position: relative;
padding: 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.testimonial::after{
  content: "";
  border-top: 30px solid #F4F4F4;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #F4F4F4;
  position: absolute;
  top: 0;
  right: 0;
}
.testimonial .profile{
  display: flex;
  flex-wrap: wrap;
  gap: 15px ;
  align-items: center;
}
.testimonial .profile img{
  width: 50px;
  height: 50px;
}
.testimonial .profile .user-data{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-items: flex-start;
}
.testimonial .profile .user-data span{
  font-size: 12px;
  color: #969696;
}
.testimonial  .rating{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
 padding-left: 20px;
}
.testimonial .rating img{
  width: 15px;
}
.testimonial  q{
  color: #646464;
}
.testimonial blockquote q {
  display: inline-block;
  padding: 0 10px;
}
/* end Testimonials */
/* start footer */
.footer{
  background-color: #393E46;
  color: #fff;
  padding: 50px 0;
}
.footer a{
  color: #fff;
}
.footer .row{
  gap: 40px;
}
.footer .footer-start ,.footer .footer-end{
  width: calc((100%  - 40px)/ 2);
}
.footer-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:30px ;
}
.footer .footer-start .logo{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
} 
.footer .footer-start .logo img{
  width: 35px;
}
.footer .footer-start .logo a{
  font-size: 14px;
}
.footer .footer-start p{
  color:#f4f4f4;
  font-size: 14px;
  font-weight: 200;
}
.footer .icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer .footer-start .icons img{
  border: 1px solid #fff;
  padding: 5px;
  width: 15px;
  height: 15px;
  box-sizing: content-box;
}
.footer-end .row{
justify-content: space-between;
align-items: flex-start;
}
.footer-end .footer-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-end .footer-item ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-end .footer-item a , .footer-end .footer-item h2{
  color: #f4f4f4;
}
.footer-end .footer-item a{
  font-size: 14px;
  font-weight: 200px;
}
/* end footer */