<<<<<<< HEAD
@import url(./public.css);

/* start header */
.header {
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  background-color: #fff;
  z-index: 7;
}

.header .logo {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.header .logo img {
  width: 35px;
}

.header .logo a {
  color: var(--main_color);
}

.header .row .nav a {
  color: black;
}

.nav ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.header .auth a {
  font-family: var(--second-fount);
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header .auth a:first-of-type {
  border: 1px solid var(--main_color);
  color: var(--main_color);
}

.header .auth a:last-of-type {
  background-color: var(--main_color);
  color: #fff;
}

@media (max-width: 970px) {
  .nav {
    display: none;
  }
}

/* end header */
/* start landing */
.landing {
  padding: 40px 0;
  background: linear-gradient(to bottom, transparent 40%, #F5F5F5 60%);
}

.landing .contaner .row {
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
}

.landing .contaner .row .text {
  width: calc((100% - 60px)/2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.landing .contaner .text .begin {
  color: #545be8;
  font-size: 10px;
}

.landing .contaner .text .begin span {
  font-weight: 600;
}

.landing .text h1 {
  font-family: var(--main_font);
  font-weight: 800;
  font-size: 43px;
  text-align: left;
}

.landing .text p {
  font-family: var(--main_font);
  font-weight: 400;
  font-size: 12px;
  color: #969696;
}

.landing .text h1 span {
  color: #545be8;
}

.landing .buttons-part a {
  font-family: var(--second-fount);
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  background-color: #545be8;
}

.landing .buttons-part {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.landing .play {
  display: flex;
}

.landing .buttons-part .play a {
  background-color: #F5F5F5;
  color: black;
  padding: 10px 0;
  font-weight: 500;
}

.landing .buttons-part img {
  width: 35px;
  height: 35px;
}

.landing img {
  width: calc((100% - 60px)/2);
}

@media (max-width: 680px) {
  .landing img:last-child {
    display: none;
  }

  .landing .contaner .row .text {
    width: calc(100%);
  }
}

/* end landing  */
/* our services start */
.our-services {
  background-color: #F5F5F5;
  position: relative;
  padding: 20px 0;
}

.our-services .contaner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}

.our-services .row {
  flex-wrap: wrap;
}

.our-services .text {
  width: calc(30% - 40px);
}

.our-services .text span {
  font-family: var(--second-fount);
  color: var(--main_color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.our-services .text h2 {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 40px;
  color: #131e31;
}

.our-services .text p {
  color: #969696;
  font-size: 18px;
}

.our-services .services {
  width: calc((70% - 40px));
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.our-services .services .service {
  width: calc((100% / 3)-20px);
  background-color: var(--main_color);
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--main_font);
  padding: 10px 20px 0 20px;
  border-radius: 5.118597984313965px;
  -webkit-border-radius: 5.118597984313965px;
  -moz-border-radius: 5.118597984313965px;
  -ms-border-radius: 5.118597984313965px;
  -o-border-radius: 5.118597984313965px;
}

.our-services .service img {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.our-services .service h3 {
  font-size: 18px;
  font-weight: 400;
}

.our-services .service p {
  font-size: 12px;
  color: #dddddd;
  font-weight: 400;
}

.arrow img {
  background-color: #F0C932;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media(max-width: 1080px) {
  .our-services .text {
    width: 100%;
    margin-bottom: 20px;
  }

  .our-services .text h2,
  .our-services .text p {
    text-align: center;
  }

  .our-services .services {
    width: 100%;
  }

  .our-services .services p {
    padding-bottom: 10px;
  }
}

@media(max-width: 750px) {
  .our-services .services {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .our-services .service img {
    margin: 0 auto;
  }
}

/* our services end */
/* start learning_community */
.learning_community {
  background-color: var(--main_color);
  padding: 40px 0;
}

.learning_community .row {
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
}

.learning_community img {
  width: calc((100% - 60px)/2);
}

.learning_community .info_of_conmunity {
  width: calc((100% - 60px)/2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.learning_community .info_of_conmunity span {
  color: #F0C932;
}

.learning_community .info_of_conmunity h2 {
  color: #fff;
  font-size: 45px;
}

.learning_community .info_of_conmunity p {
  color: #DDDDDD;
  font-size: 20px;
}

.learning_community .info_of_conmunity .numbers {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.learning_community .info_of_conmunity .numbers .number {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.learning_community .info_of_conmunity .numbers .number span:last-child {
  color: #fff;
}

@media (max-width: 800px) {
  .learning_community img {
    display: none;
  }

  .learning_community .info_of_conmunity {
    width: 100%;
  }
}

/* end learning_community */
/* start available-courses */
.available-courses {
  padding: 40px 0;
  background-color: #fff;
}

.available-courses .contaner .row {
  gap: 30px;
  align-items: flex-start;
}

.available-courses .courses {
  width: calc((100% - 30px)/2);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.available-courses .courses .course {
  width: calc((100% - 10px)/2);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);

}

.available-courses .course .img-part {
  position: relative;
}

.available-courses .course .img-part img {
  width: 100%;
  height: 100%;
}

.available-courses .course .course-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.available-courses .course .course-info span:first-child {
  background-color: var(--main_color);
  padding: 3px;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
}

.available-courses .course .course-info span:last-child {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  align-self: flex-end;
}

.available-courses .course .discreption {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.available-courses .course .discreption .info h3 {
  font-size: 18px;
  color: #131e31;
}

.available-courses .course .discreption .info span {
  font-size: 12px;
  color: #969696;
}

.available-courses .course .discreption .views span {
  font-size: 12px;
  color: var(--main_color);
  margin-left: 20px;
}

.available-courses .text {
  width: calc((100% - 30px)/2);
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.available-courses .text span {
  color: var(--main_color);
}

.available-courses .text h2 {
  font-size: 40px;
}

.available-courses .text p {
  color: #969696;
  font-size: 18px;
}

.available-courses .text a {
  font-family: var(--second-fount);
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  background-color: #545be8;
}

/* end available-courses */
/* start Testimonials  */
.testimonials {
  padding: 20px 0;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 20px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc((100% / 2) - 40px);
  position: relative;
  padding: 20px;
  box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);

}

@media (max-width: 900px) {
  .testimonial {
    width: 100%;
  }
}

.testimonial::after {
  content: "";
  border-top: 30px solid #F4F4F4;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #F4F4F4;
  position: absolute;
  top: 0;
  right: 0;
}

.testimonial .profile {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.testimonial .profile img {
  width: 50px;
  height: 50px;
}

.testimonial .profile .user-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-items: flex-start;
}

.testimonial .profile .user-data span {
  font-size: 12px;
  color: #969696;
}

.testimonial .rating {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 20px;
}

.testimonial .rating img {
  width: 15px;
}

.testimonial q {
  color: #646464;
}

.testimonial blockquote q {
  display: inline-block;
  padding: 0 10px;
}


/* end Testimonials */
/* start footer */
.footer {
  background-color: #393E46;
  color: #fff;
  padding: 50px 0;
}

.footer a {
  color: #fff;
}

.footer .row {
  gap: 40px;
}

.footer .footer-start,
.footer .footer-end {
  width: calc((100% - 40px)/ 2);
}

.footer-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.footer .footer-start .logo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.footer .footer-start .logo img {
  width: 35px;
}

.footer .footer-start .logo a {
  font-size: 14px;
}

.footer .footer-start p {
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 200;
}

.footer .icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer .footer-start .icons img {
  border: 1px solid #fff;
  padding: 5px;
  width: 15px;
  height: 15px;
  box-sizing: content-box;
}

.footer-end .row {
  justify-content: space-between;
  align-items: flex-start;
}

.footer-end .footer-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-end .footer-item ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-end .footer-item a,
.footer-end .footer-item h2 {
  color: #f4f4f4;
}

.footer-end .footer-item a {
  font-size: 14px;
  font-weight: 200px;
}

=======
@import url(./public.css);

/* start header */
.header {
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  background-color: #fff;
}

.header .logo {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.header .logo img {
  width: 35px;
}

.header .logo a {
  color: var(--main_color);
}

.header .row .nav a {
  color: black;
}

.nav ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.header .auth a {
  font-family: var(--second-fount);
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header .auth a:first-of-type {
  border: 1px solid var(--main_color);
  color: var(--main_color);
}

.header .auth a:last-of-type {
  background-color: var(--main_color);
  color: #fff;
}

@media (max-width: 970px) {
  .nav {
    display: none;
  }
}

/* end header */
/* start landing */
.landing {
  padding: 40px 0;
  background: linear-gradient(to bottom, transparent 40%, #F5F5F5 60%);
}

.landing .contaner .row {
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
}

.landing .contaner .row .text {
  width: calc((100% - 60px)/2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.landing .contaner .text .begin {
  color: #545be8;
  font-size: 10px;
}

.landing .contaner .text .begin span {
  font-weight: 600;
}

.landing .text h1 {
  font-family: var(--main_font);
  font-weight: 800;
  font-size: 43px;
  text-align: left;
}

.landing .text p {
  font-family: var(--main_font);
  font-weight: 400;
  font-size: 12px;
  color: #969696;
}

.landing .text h1 span {
  color: #545be8;
}

.landing .buttons-part a {
  font-family: var(--second-fount);
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  background-color: #545be8;
}

.landing .buttons-part {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.landing .play {
  display: flex;
}

.landing .buttons-part .play a {
  background-color: #F5F5F5;
  color: black;
  padding: 10px 0;
  font-weight: 500;
}

.landing .buttons-part img {
  width: 35px;
  height: 35px;
}

.landing img {
  width: calc((100% - 60px)/2);
}

@media (max-width: 680px) {
  .landing img:last-child {
    display: none;
  }

  .landing .contaner .row .text {
    width: calc(100%);
  }
}

/* end landing  */
/* our services start */
.our-services {
  background-color: #F5F5F5;
  position: relative;
  padding: 20px 0;
}

.our-services .contaner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}
.our-services .row{
  flex-wrap: wrap;
}
.our-services .text {
  width: calc(30% - 40px);
}

.our-services .text span {
  font-family: var(--second-fount);
  color: var(--main_color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.our-services .text h2 {
  font-family: var(--main_font);
  font-weight: 700;
  font-size: 40px;
  color: #131e31;
}

.our-services .text p {
  color: #969696;
  font-size: 18px;
}

.our-services .services {
  width: calc((70% - 40px));
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.our-services .services .service {
  width: calc((100% / 3)-20px);
  background-color: var(--main_color);
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--main_font);
  padding: 10px 20px 0 20px;
}

.our-services .service img {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.our-services .service h3 {
  font-size: 18px;
  font-weight: 400;
}

.our-services .service p {
  font-size: 12px;
  color: #dddddd;
  font-weight: 400;
}

.arrow img {
  background-color: #F0C932;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media(max-width: 1080px){
  .our-services .text {
    width: 100%;
    margin-bottom: 20px;
  }
  .our-services .text h2 , .our-services .text p{
    text-align: center;
  }
  .our-services .services {
    width: 100%;
  }
  .our-services .services p{
    padding-bottom: 10px;
  }
}
@media(max-width: 750px){
  .our-services .services{
   flex-direction: column;
   text-align: center;
   gap: 20px;
}
.our-services .service img{
   margin:  0 auto  ;
}
}
/* our services end */
/* start learning_community */
.learning_community{
  background-color: var(--main_color);
  padding: 40px 0;
}
.learning_community .row{
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
}
.learning_community img{
  width: calc((100% - 60px)/2);
}
.learning_community .info_of_conmunity{
  width: calc((100% - 60px)/2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.learning_community .info_of_conmunity span{
  color: #F0C932;
}
.learning_community .info_of_conmunity h2{
  color: #fff;
  font-size: 45px;
}
.learning_community .info_of_conmunity p{
  color: #DDDDDD;
  font-size: 20px;
}
.learning_community .info_of_conmunity .numbers {
  display: flex;
  flex-direction: row;
  gap: 40px ;
}
.learning_community .info_of_conmunity .numbers .number{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.learning_community .info_of_conmunity .numbers .number span:last-child{
  color: #fff;
}
@media (max-width: 800px) {
.learning_community img{
  display: none;
}
.learning_community .info_of_conmunity{
width: 100%;
}
}
/* end learning_community */
/* start Testimonials  */
.testimonials {
  padding: 20px 0;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 20px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc((100% / 2) - 40px);
  position: relative;
  padding: 20px;
  box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
 
}

@media (max-width: 900px) {
  .testimonial {
    width: 100%;
  }
}

.testimonial::after {
  content: "";
  border-top: 30px solid #F4F4F4;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #F4F4F4;
  position: absolute;
  top: 0;
  right: 0;
}

.testimonial .profile {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.testimonial .profile img {
  width: 50px;
  height: 50px;
}

.testimonial .profile .user-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-items: flex-start;
}

.testimonial .profile .user-data span {
  font-size: 12px;
  color: #969696;
}

.testimonial .rating {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 20px;
}

.testimonial .rating img {
  width: 15px;
}

.testimonial q {
  color: #646464;
}

.testimonial blockquote q {
  display: inline-block;
  padding: 0 10px;
}

/* end Testimonials */
/* start footer */
.footer {
  background-color: #393E46;
  color: #fff;
  padding: 50px 0;
}

.footer a {
  color: #fff;
}

.footer .row {
  gap: 40px;
}

.footer .footer-start,
.footer .footer-end {
  width: calc((100% - 40px)/ 2);
}

.footer-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.footer .footer-start .logo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.footer .footer-start .logo img {
  width: 35px;
}

.footer .footer-start .logo a {
  font-size: 14px;
}

.footer .footer-start p {
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 200;
}

.footer .icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer .footer-start .icons img {
  border: 1px solid #fff;
  padding: 5px;
  width: 15px;
  height: 15px;
  box-sizing: content-box;
}

.footer-end .row {
  justify-content: space-between;
  align-items: flex-start;
}

.footer-end .footer-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-end .footer-item ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-end .footer-item a,
.footer-end .footer-item h2 {
  color: #f4f4f4;
}

.footer-end .footer-item a {
  font-size: 14px;
  font-weight: 200px;
}

>>>>>>> origin/main
/* end footer */